body {
  font-family: Arial, sans-serif;
  background-color: #feffcc;
  color: #333;
}

header {
  padding: 50px;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: #171610;
  color: #A6A06F;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
