body {
  font-family: Arial, sans-serif;
  background-color: #feffcc;
  color: #333;
}

header {
  padding: 50px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: Black;
  color: #feffcc;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
